@page "/admin/organisation"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Organisation.OrganisationOverviewModel
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = localizer.GetLocalizedHtmlString("Organisations");
}

<table class="table table-striped table-hover">
	<thead class="table-light">
		<tr>
			<th scope="col">@localizer.GetLocalizedHtmlString("Name")</th>
			<th scope="col">@localizer.GetLocalizedHtmlString("DomainName")</th>
			<th scope="col" style="width:150px;">@localizer.GetLocalizedHtmlString("Enabled")</th>
			<th scope="col" style="width:100px;">&nbsp;</th>
			<th scope="col" style="width:100px;">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var organisation in Model.Organisations) {
			<tr>
				<td>@organisation.Name</td>
				<td>@organisation.DomainName</td>
				<td>@(organisation.IsEnabled ? localizer.GetLocalizedHtmlString("Yes") : localizer.GetLocalizedHtmlString("No"))</td>
				<td><a asp-page="./OrganisationEdit" asp-route-organisationId="@organisation.EntityId" class="btn btn-sm btn-outline-secondary text-uppercase">@localizer.GetLocalizedHtmlString("Edit")</a></td>
				<td><a asp-page="./OrganisationDelete" asp-route-organisationId="@organisation.EntityId" class="btn btn-sm btn-outline-danger text-uppercase">@localizer.GetLocalizedHtmlString("Delete")</a></td>
			</tr>
		}
	</tbody>
</table>
<div class="card-footer text-center">
	<a asp-page="./OrganisationCreate" class="btn btn-lg btn-outline-primary text-uppercase">@localizer.GetLocalizedHtmlString("Add")</a>
</div>
