@inject SettingService settingService

@{
	Layout = "";

	// Redirect to configuration page when no configuration is set
	var currentPage = Context.Request.Path.Value!.ToLower();
	var configurationPage = Url.Page("/Admin/Configure")!.ToLower();
	if (currentPage != configurationPage && !settingService.IsApplicationConfigured) Context.Response.Redirect(configurationPage);
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@settingService.ApplicationName - @ViewData["Title"]</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="icon" type="image/x-icon" href="~/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

	<style type="text/css">
		:root {
			--primary: @settingService.ColorBaseBackground;
		}

		.background-cover {
			background-image: url(@Url.Content(settingService.UrlBackgroundCover)) !important;
		}
	</style>

	@await RenderSectionAsync("styles", required: false)
</head>
<body>
	@RenderBody()

	<script src="~/lib/jquery/jquery.slim.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var toggleBtnGroup = function() {
				if ($(window).width() < 500) {
					$(".btn-group").addClass("btn-group-vertical").removeClass("btn-group");
				} else {
					$(".btn-group-vertical").addClass("btn-group").removeClass("btn-group-vertical");
				}
			}
			toggleBtnGroup();
			window.addEventListener('resize', toggleBtnGroup);
		});

		function generateUUID() { // Public Domain/MIT
			var d = new Date().getTime();//Timestamp
			var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
				var r = Math.random() * 16;//random number between 0 and 16
				if (d > 0) {//Use timestamp until depleted
					r = (d + r) % 16 | 0;
					d = Math.floor(d / 16);
				} else {//Use microseconds since page-load if supported
					r = (d2 + r) % 16 | 0;
					d2 = Math.floor(d2 / 16);
				}
				return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
			});
		}
	</script>
	@RenderSection("Scripts", required: false)
</body>
</html>