@page
@model ForgotPasswordModel
@inject LocalizationService localizer

@{
    ViewData["Title"] = localizer.GetLocalizedHtmlString("PasswordForgotTitle");
}

<h2>@ViewData["Title"]</h2>
<p>@localizer.GetLocalizedHtmlString("PasswordForgotMessage")</p>

<partial name="_ValidationSummary" />

<form method="post">
    <div class="mb-3">
        <label class="visually-hidden" asp-for="Input.Email"></label>
        <div class="input-group input-group-lg">
            <div class="input-group-text"><i class="material-icons">account_box</i></div>
            <input type="email" asp-for="Input.Email" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("EmailAddress")" autocomplete="off" autofocus />
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div>
        <div class="btn-group btn-group-lg w-100">
            <button class="btn btn-outline-primary" type="submit">@localizer.GetLocalizedHtmlString("Send")</button>
            @if (!string.IsNullOrWhiteSpace(Model.ReturnUrl)) {
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-secondary">@localizer.GetLocalizedHtmlString("Cancel")</a>
            }
        </div>
    </div>
</form>

