@page "/admin/identity/user/{userId:Guid}/role"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Identity.User.UserRolesModel

@using DemaWare.DemaIdentify.BusinessLogic.Services
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = string.Format("{0} ({1})", localizer.GetLocalizedHtmlString("User"), localizer.GetLocalizedHtmlString("Roles"));
}

<form method="post">
	<partial name="_ValidationSummary" />

	<div class="card-body">
		<div class="container-fluid px-0">
			<div class="row">
				<div class="col-md-6 mb-3">
					<label asp-for="Input.Email" class="form-label"></label>
					<span class="form-control">@Model.Input.Email</span>
				</div>
				<div class="col-md-6 mb-3">
					<label asp-for="Input.EmailConfirmed" class="form-label"></label>
					<span class="form-control">@(Model.Input.EmailConfirmed ? localizer.GetLocalizedHtmlString("Yes") : localizer.GetLocalizedHtmlString("No"))</span>
				</div>
				<div class="col-md-6 mb-3">
					<label asp-for="Input.LockoutEnabled" class="form-label"></label>
					<span class="form-control">@(Model.Input.LockoutEnabled ? localizer.GetLocalizedHtmlString("Yes") : localizer.GetLocalizedHtmlString("No"))</span>
				</div>
				<div class="col-md-6 mb-3">
					<label asp-for="Input.LastLoginTime" class="form-label"></label>
					<span class="form-control">@(Model.Input.LastLoginTime.HasValue ? Model.Input.LastLoginTime.Value.ToString("dd-MM-yyyy HH:mm") : "-")</span>
				</div>
			</div>
		</div>
	</div>

	<h5 class="card-header text-primary border-top">@localizer.GetLocalizedHtmlString("Roles")</h5>
	<div class="card-body">
		<div class="container-fluid px-0">
			<div class="row">
				@foreach (var role in Model.Input.Roles) {
					<div class="col-md-4 mb-3">
						<div class="input-group">
							<span class="form-control">@role</span>
							<a asp-page="./UserRoleDelete" asp-route-userId="@Model.Input.EntityId" asp-route-roleName="@role" class="btn btn-outline-danger" style="padding-top:5px;" title="@localizer.GetLocalizedHtmlString("Delete")">
								<span class="material-icons-outlined">delete</span>
							</a>
						</div>
					</div>
				}

				@* Add new role? *@
				<div class="col-md-4 mb-3">
					<div class="input-group">

						<select asp-for="RoleNameAdd" asp-items="Model.RoleList" class="form-select">
							<option value="">@localizer.GetLocalizedHtmlString("Choose")</option>
						</select>

						<button class="btn btn-lg btn-outline-success text-uppercase" type="submit">
							<span class="material-icons-outlined">add</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-footer text-center">
		<a asp-page="./UserOverview" class="btn btn-lg btn-outline-secondary text-uppercase">@localizer.GetLocalizedHtmlString("Back")</a>
	</div>
</form>