@page "/admin/application/client"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Application.ClientOverviewModel
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = localizer.GetLocalizedHtmlString("Clients");
}

<table class="table table-striped table-hover">
	<thead class="table-light">
		<tr>
			<th scope="col" style="width:250px;">@localizer.GetLocalizedHtmlString("ClientId")</th>
			<th scope="col">@localizer.GetLocalizedHtmlString("Name")</th>
			<th scope="col" style="width:100px;">@localizer.GetLocalizedHtmlString("Visible")</th>
			<th scope="col" style="width:100px;">&nbsp;</th>
			<th scope="col" style="width:100px;">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var client in Model.Clients) {
			<tr>
				<td>@client.ClientId</td>
				<td>@(!string.IsNullOrWhiteSpace(client.DisplayName) ? client.DisplayName : "-")</td>
				<td>@(client.IsVisible ? localizer.GetLocalizedHtmlString("Yes") : localizer.GetLocalizedHtmlString("No"))</td>
				<td><a asp-page="./ClientEdit" asp-route-clientId="@client.EntityId" class="btn btn-sm btn-outline-secondary text-uppercase">@localizer.GetLocalizedHtmlString("Edit")</a></td>
				<td><a asp-page="./ClientDelete" asp-route-clientId="@client.EntityId" class="btn btn-sm btn-outline-danger text-uppercase">@localizer.GetLocalizedHtmlString("Delete")</a></td>
			</tr>
		}
	</tbody>
</table>
<div class="card-footer text-center">
	<a asp-page="./ClientCreate" class="btn btn-lg btn-outline-primary text-uppercase">@localizer.GetLocalizedHtmlString("Add")</a>
</div>
