@page "/admin/identity/role"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Identity.RoleOverviewModel
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = localizer.GetLocalizedHtmlString("Roles");
}

<table class="table table-striped table-hover">
	<thead class="table-light">
		<tr>
			<th scope="col">@localizer.GetLocalizedHtmlString("Role")</th>
			<th scope="col" style="width:100px;">&nbsp;</th>
			<th scope="col" style="width:100px;">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model.Roles) {
			<tr>
				<td>@role.Name</td>
				<td><a asp-page="./RoleEdit" asp-route-roleId="@role.EntityId" class="btn btn-sm btn-outline-secondary text-uppercase">@localizer.GetLocalizedHtmlString("Edit")</a></td>
				<td><a asp-page="./RoleDelete" asp-route-roleId="@role.EntityId" class="btn btn-sm btn-outline-danger text-uppercase">@localizer.GetLocalizedHtmlString("Delete")</a></td>
			</tr>
		}
	</tbody>
</table>
<div class="card-footer text-center">
	<a asp-page="./RoleCreate" class="btn btn-lg btn-outline-primary text-uppercase">@localizer.GetLocalizedHtmlString("Add")</a>
</div>
